body {
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
}

h1 {
    font-size: 50px;
    font-weight: 100;
    color: #227AFE;
}

p {
    margin-top: -30px;
    font-size: 20px;
    color: #ABABAB;
}

form {
    width: 500px;
    height: auto;
    position: absolute;
    left: 45%;
    top: 40%;
    margin-left: -200px;
    margin-top: -50px;
    font-size: 20px;
}
    
input {
    background-color: #949394;
}

input[name="chatUsername"] {
    margin-left: 76px;
    height: 16px;
    width: 180px;
}

input[name="chatPassword"] {
    margin-left: 41px;
    height: 16px;
    width: 180px;
}

input[name="displayName"] {
    margin-left: 100px;
    height: 16px;
    width: 180px;
}

button {
    background-color: inherit;
    color: #66D017;
    font-size: 50px;
    border: none;
}
